<!-- Begin MailChimp Signup Form -->

<div>
    <form action="//artoftheless.us16.list-manage.com/subscribe/post?u=3138fbea14b00c6688715da2a&amp;id=20949f7a87" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    
        <div>
            <b style="text-align:center;">Subscribe to our mailing list to receive new posts via email</b>
            <input type="email" value="" name="EMAIL" placeholder="Your email" class="required email">
    
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->       
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3138fbea14b00c6688715da2a_20949f7a87" tabindex="-1" value="">
            </div>
            <input type="submit" value="Subscribe" name="subscribe" class="button">
        </div>      
    </form>
</div>

<!--End mc_embed_signup-->
